<h1>Sass</h1>
<p>SASS es un precompilador de CSS y soporta 2 formatos <code>.sass</code> y <code>.scss</code> porque es 
el mas senciullo para aprender, puesto que soporta que escribamos en <code>.css</code></p>
<p>Existen otros precompiladores como <code>LESS</code> y <code>STYLUS</code></p>
<p><a href="http://sass-lang.com" target="_blank" rel="noopener noreferrer"></a></p>


<span class ="borde10">10</span>
<span class ="borde50">50</span>
<br>
<br>
<br>
<button class="boton boton-rojo">boton</button>

