<div class="row">
  <div class="col">
    <p>Cocinar nueva receta</p>
  </div>
  <div class="col">
    <p>Recetas sin gluten</p>
  </div>
</div>

<div class="row">
  <div class="col-6"></div>
  <div class="col-4 input-group-append">
    <span class="input-group-text">
      <span class="fas-fa-search"></span>
    </span>
    <input type="search" class="form-control" name="" id="" />
    <button>Buscar</button>
  </div>
  <div class="col-2"></div>
</div>

<div class="row mt-4">
  <div class="col-3">
    <p>Recetario</p>
    <ul class="list-group">
      <li
        class="list-group-item {{ r == rSeleccionado ? 'active' : '' }}"
        *ngFor="let r of recetas"
        (click)="seleccionarReceta(r)"
      >
        {{ r.nombre }}
      </li>
    </ul>
  </div>

  <div class="col-9">
    <div style="border-left: 1px solid blue;">
      <p style="background-color: blue; color: white; height: 30px;">
        {{ rSeleccionado.nombre }}
      </p>
      <div class="row">
        <div class="col-6">
          <img
            src="{{ rSeleccionado.foto }}"
            alt=""
            style="width: 70%; height: 50%;"
          />
        </div>
        <!-- COL IMAGE-->

        <div class="col-6">
          <p>INGREDIENTES</p>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let i of rSeleccionado.ingredientes"
            >
              {{ i }}
            </li>
          </ul>
        </div>
        <!-- COL LIST-->
      </div>
      <!-- ROW INSIDE COL -->

      <div class="row">
        <div class="col-6">
          <p><i class="fas fa-heart"></i></p>
        </div>
        <div class="col-6">
          <p>By {{ rSeleccionado.cocinero }}</p>
        </div>
      </div>
      <!-- LIKE & AUTHOR ROW -->

      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            dicta voluptates quia saepe molestias sunt, laudantium id cumque
            veritatis consequuntur, numquam ipsa praesentium cum, ducimus
            debitis. Itaque voluptates quam vero.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- CARD COL -->
</div>
<br /><br /><br /><br /><br /><br />
